/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0 20px;
    flex-wrap: wrap;
    align-items: center;
}

.center-title {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-size: 50px;
    padding: 10px;
    color: white;
    font-style: normal;
    flex-grow: 1;
    text-align: center;
}

.left-items,
.right-items {
    display: flex;
    gap: 20px;
}

.item-header {
    color: white;
    padding: 10px;
    text-align: center;
}

.item-header:hover {
    cursor: pointer;
    text-decoration: underline;
}

.newsfeed {
    flex-direction: column;
    width: 100%;
    display: flex;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    padding-right: 20px;
}
.newsfeed a{
    color: black;
    text-decoration: none;
}

.news-things{
    justify-content: space-evenly;
    display: flex;
}

.item-news {
    border-radius: 5px;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}

.item-news:hover {
    cursor: pointer;
    background-color: #ddd;
}

.news-title {
    padding: 5px 10px;
    font-size: x-large;
    font-weight: 550;
}

.news-desc {
    padding: 2px 10px;
    margin-bottom: 10px;
    display: -webkit-box;      
    -webkit-line-clamp: 2;     
    -webkit-box-orient: vertical; 
    overflow: hidden;          
    text-overflow: ellipsis;   
}

.trending-topics {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0px 30px;
}

.item-story {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.item-story:hover {
    cursor: pointer;
    background-color: #ddd;
}

.story-title {
    font-size: x-large;
    padding-top: 10px;
}

.news-img {
    display: none;
}
 
.actions {
    height: min-content;
    width: min-content;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}


@media (max-width: 800px) {
    .trending-topics {
        flex-direction: row;
        overflow-x: auto;
    }
    .news-things {
        flex-direction: column;
    }
    .newsfeed {
        padding: 10px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .center-title {
        font-size: 40px;
        padding: 10px 0;
    }

    .left-items,
    .right-items {
        justify-content: center;
        gap: 10px;
        margin: 10px 0;
    }
}

@media (max-width: 412px) {
    .trending-topics {
        flex-direction: row;
        overflow-x: auto;
    }
    .news-things {
        flex-direction: column;
    }
    .newsfeed {
        padding: 10px;
        flex-direction: column;
        max-width: 100%;
    }

    .center-title {
        font-size: 30px;
    }

    .item-header {
        padding: 5px;
    }
}